<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
 	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
 	layout:decorator="page">
 	<div layout:fragment="content">
 		<h1 th:text="#{post.reg.title}"></h1>
		<form method="post" th:action=@{/posts/new} th:object="${post}">
			<div class="errors" th:if="${#fields.hasErrors('*')}">
 				<ul>
 					<li th:each="err : ${#fields.errors('*')}" th:text="${err}" />
 				</ul>
 			</div>
 			<div th:class="formtable">
 				<div th:class="formrow">
		 			<label class="formcell" th:classappend="${#fields.hasErrors('topic')} ? 'error'" th:text="#{posts.reg.topic}"></label>
		 			<input type="text" th:field="*{topic}" class="formcell" th:classappend="${#fields.hasErrors('topic')} ? 'error'" />
		  			<span th:each="error : ${#fields.errors('topic')}" th:text="${error}" class="formcell" th:classappend="${#fields.hasErrors('topic')} ? 'error'"></span>
	 			</div>
 				<div th:class="formrow">
		 			<label class="formcell" th:classappend="${#fields.hasErrors('message')} ? 'error'" th:text="#{posts.reg.message}"></label>
		 			<textarea rows=10 cols=30 th:field="*{message}" class="formcell" th:classappend="${#fields.hasErrors('message')} ? 'error'" ></textarea>
		  			<span th:each="error : ${#fields.errors('message')}" th:text="${error}" class="formcell" th:classappend="${#fields.hasErrors('message')} ? 'error'"></span>
	 			</div>
 			</div>
 			<button type="submit" th:text="#{posts.reg.submit}"></button>
		</form>
 	</div>
</html>